namespace TMDbTools
{
    public class TMDb_API_KEY
    {
        public const string TMDB_API_KEY = "";
    }

    public class OMDb_API_KEY
    {
        public const string OMDB_API_KEY = "";
    }
}